<%- include('./layout/head.ejs',{ HEAD:PAGE_CONF.HEAD, STYLESHEET:PAGE_CONF.STYLESHEET })%>

    <div class="container">
        <p class="tips-text"><strong>404</strong>网页走丢了<a href="http://localhost:3000/">点击</a>回到主页</p>
    </div>

    <%-include('./layout/foot.ejs',{ SCRIPTS:PAGE_CONF.SCRIPTS, IMG_BASE_URL})%>