<div class="carousel-item <%= !i ? 'current' : '' %>">
    <a href="<%=carousel.href %>" class="carousel-img">
        <img src="<%=IMG_BASE_URL + carousel.imgKey %>" alt="" target="_blank" />
    </a>
</div>