<div class="agency-tab main-about">
    <div class="poster-wrap">
        <img src="<%= IMG_BASE_URL + aboutData.posterKey %> " alt="" />
    </div>

    <div class="agency-intro-wrap">
        <h3 class="agency-name">
            <%= aboutData.name %>
        </h3>
        <p class="agency-intro">
            <%= aboutData.intro %>
        </p>
    </div>
</div>