<div class="agency-tab main-course J_agency_course">
    <%- include('../common/mainTitle/index.ejs',{ headTitle: '全部课程',isMore:false}) %>
        <%-
    include('../tab/index.ejs',{tabDatas}) %>
            <div class="course-list J_courseList clearfix"></div>
</div>