<div class="person-item">
    <div class="avatar">
        <img src="<%= IMG_BASE_URL + item.imgKey %> " alt="" />
    </div>
    <div class="person-right">
        <h1 class="student-tt">
            <%= item.studentName %>
        </h1>
        <div class="student-post">
            <%= item.intro %>
        </div>
        <div class="student-course">学过:
            <%= item.course %>
        </div>
    </div>
</div>