<div class="footer-bottom">
    <p>Copyright © 2022 Tencent. All Rights Reserved.</p>
    <p>
        深圳市腾讯计算机系统有限公司 版权所有 | 腾讯课堂服务协议 | 隐私政策 | 站点地图 | 侵权投诉 | 联系客服 | 帮助 | IT教程 | TAGS专题 | 系列视频
    </p>
</div>