<header class="header">
    <div class="img-wrap">
        <a href="javascript:;" class="logo"></a>
    </div>
    <%- include('nav.ejs',{ NAVDATAS }) %>
        <%- include('search.ejs') %>
</header>