html,
body,
#__nuxt,
#__layout {
    height: 100%;
}

html {
    background-color: #ededed;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}